# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode10
language: swift

env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8

cache:
  bundler: true
  cocoapods: true
  directories:
  - ./build
  - ./Example/Pods
  - ./Example/PredicateFlow.xcworkspace
  - ./Example/Podfile.lock

jobs:
  include:
    - stage: lint
      script: bundle exec fastlane linting
    - stage: test
      name: "Test (Debug)"
      script: bundle exec fastlane test_debug
    - stage: test
      name: "Test (Release)"
      script: bundle exec fastlane test_release
